{% extends 'base.html' %}

{% block content %}
<h1>History</h1>

<h2>Liked Books</h2>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Amazon Link</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for book in liked_books %}
    <tr>
      <td>Title: {{ book.book_title }}</td>
      <td>Author: {{ book.book_author }}</td>
      <td><a href="{{ generate_amazon_link(book.book_title, book.book_author) }}" target="_blank">Amazon Link</a></td>
      <td><button type="button" onclick="deleteReaction({{ book.id }})">Remove</button></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
